@model List<PeachDigital.Administration.Models.ModulePermission>
@{
    ViewBag.Title = "PDA | Permissions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.RoleName Permissions</h2>
<hr />
<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="hidden" id="RoleId" value="@ViewBag.StringRoleId"/>
    }
    
        @foreach (var module in ViewBag.Modules)
        {
            <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="permissionModule">
                <h4>@module.Text</h4>
                @foreach (var type in ViewBag.PermissionTypes)
                {
                    @:<div class="permissionType">
                    if (Model != null && Model.Count > 0)
                    {
                        var permissionAssigned = Model.Where(p => p.ModuleId == Convert.ToInt32(module.Value) && p.PermissionId == Convert.ToInt16(type.Value)).Any();

                        if (permissionAssigned)
                        {
                            @:<input type="checkbox" class="custom-checkbox" data-modulePerm="@module.Value-@type.Value" name="permission" id="permission-@module.Value-@type.Value" checked="checked" value="@type.Value" />
                            <label for="permission-@module.Value-@type.Value">@type.Text</label>
                        }
                        else
                        {
                            @:<input type="checkbox" class="custom-checkbox" data-modulePerm="@module.Value-@type.Value" name="permission"  id="permission-@module.Value-@type.Value" value="@type.Value" />
                            <label for="permission-@module.Value-@type.Value">@type.Text</label>
                        }
                    }
                    else
                    {
                        @:<input type="checkbox" class="custom-checkbox" data-modulePerm="@module.Value-@type.Value" name="permission" id="permission-@module.Value-@type.Value" value="@type.Value" />
                        <label for="permission-@module.Value-@type.Value">@type.Text</label>
                    }

                    @:</div>
                }
            </div>
            </div>
        }
    <div class="col-xs-12">
        <div class="permission-btn">
            <input type="button" value="Update" id="btnUpdatePermissions" class="btn btn-orange" />
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-cancel" })
        </div>
    </div>
  
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

            $(document).ready(function () {

                $("#btnUpdatePermissions").click(function () {
                    var strModulePerAry = $('[data-modulePerm]:checked').map(function () { return $(this).attr("data-modulePerm") }).get().join(',');
                    //console.log(strModulePerAry);

                    $.ajax({
                        url: "/Roles/UpdatePermissions/",
                        type: "post",
                        data: { roleId: $("#RoleId").val(), permissions: strModulePerAry},
                        success: function (response) {
                            if (response.success) {
                                alert(response.message);
                                window.location.href = "/Roles";
                            }
                        },
                        error: function () {
                            alert("Access denied, Please contact to admin to get access.");
                        }
                    });
                });
            });

    </script>

}
